@import "tailwindcss";

@font-face {
  font-family: "Neue Plak Condensed";
  src: url("/public/assets/Neue-Plak-CondBlack.ttf") format("woff2");
  font-style: condensed;
}

@font-face {
  font-family: "Neue Plak Regular";
  src: url("/public/assets/Neue-Plak-Regular.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak Bold";
  src: url("/public/assets/Neue-Plak-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak Semi";
  src: url("/public/assets/Neue-Plak-SemiBold.otf") format("truetype");
  font-style: normal;
}